<div class="inputfield">
  <!-- formfield -->
  <app-form (taskText)="noteTask($event)"></app-form>
</div>
<div class="taskfield">
  <!-- sortfield -->
  <app-sortfield (sortType)="setSortType($event)"></app-sortfield>
  <!-- searchfiled -->
  <app-searchfield (soughtText)="setSearchType($event)"></app-searchfield>
  <!-- listfield -->
  <ul class="taskfield__taskList">
    <app-task-item
      *ngFor="let task of (this.tasksToRender | async)"
      [task]="task"
      (completingItemId)="triggeringTaskCompleting($event)"
      (editingItemOptions)="editTask($event)"
      (removingItemId)="removeTask($event)"></app-task-item>
  </ul>
  <!-- paginationfield -->
  <app-paginationfield [numberOfPage]="this.numberOfPage"
                       [maxValueOfRender]="this.renderValue"
                       (renderIndex)="setRenderPosition($event)"></app-paginationfield>
</div>
